@import url('https://fonts.googleapis.com/css?family=VT323');

:root {
    --bg-screen: black;
    --terminal-text-color: green;
    --terminal-text-font: 'VT323', monospace;
}

body {
    font-family: monospace;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    padding: 1em;
}

.terminal-grid {
    font-family: var(--terminal-text-font);
    color: var(--terminal-text-color);
    font-size: 1.125rem;
    background: var(--bg-screen);
    margin: 0 auto;
    padding: 2rem;
    width: 70%;
    min-height: 526px;
    display: grid;
    grid-template-rows: auto;
    border-radius: 15%;
}

.terminal-head {
    padding-top: 1.25rem;
    line-height: 0.125rem;
}

.terminal-body {
    padding-bottom: 1.25rem;
    display: none;
    grid-template-columns: 1fr 3fr 1fr 3fr 3fr
}

.terminal-col-narrow {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    kerning: 1rem;
}

.terminal-col-wide {
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(12, 1rem);
}

.log {
    display: grid;
    grid-auto-flow: dense;
    grid-template-rows: repeat(16, 1fr);
}

#input {
    grid-row: 16;
}

/* inverse colors for selected characters */
.selected {
    background: var(--terminal-text-color);
    color: var(--bg-screen);
}

.terminal-message {
    display: flex;
    width: 100%;
}

.terminal-message-block {
    display: grid;
    grid-template: repeat(4, 1em) /repeat(8, 1em);
    margin: 0 auto;
    text-align: center;
}

.terminal-message-display {
    grid-column: 2 / span 6;
    grid-row: 2 / span 2;
}

footer {
    margin: 1rem auto;
    text-align: center;
}